<div class="row">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 breadcrumb">
                <img ng-src="{{user.avatar}}?s=100"><br/>
                <br/>
                <a href="/#/settings/account">Profil</a>
                <br/>
                <a href="/#/settings/notifs">Notifications</a>
                <br/>
                <a href="/#/settings/password">Mot de passe</a>
                <br/>
                <a href="/#/settings/email">Adresse mail</a>
                <br/>
                Lier d'autres fournisseurs
            </div>
            <div class="span10">
                <div class="well">
                    <h3>Lier les comptes</h3>
                    {{user.fullname}}
                    {{user.linkSize}}

                    <a href="/authenticate/twitter"><img alt="twitter icon" title="twitter" src="/assets/img/twitter-24x24.png"></a>
                    <a href="/authenticate/google"><img alt="google icon" title="google" src="/assets/img/google-24x24.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>